{% extends "base.html" %}
{% block content %}

<h2>ยืมจากฟลุค</h2>

<div class="top-bar">
    <div></div>
    <a href="/manage2" class="btn-add">
        ⚙ Manage
    </a>
</div>

<table class="table-modern">
    <thead>
        <tr>
            <th>วันที่กู้</th>
            <th>เงินต้นคงค้าง</th>
            <th>%/ปี</th>
            <th>%/เดือน</th>
            <th>%/วัน</th>
            <th>ดอก/วัน</th>
            <th>ดอกสะสม</th>
        </tr>
    </thead>

    <tbody>
        {% for item in loans %}
        <tr>
            <td data-label="วันที่กู้">
                {{ item.loan_date }}
            </td>

            <td data-label="เงินต้นคงค้าง">
                {{ "{:,.2f}".format(item.principal) }}
            </td>

            <td data-label="%/ปี">
                {{ "{:.2f}".format(item.rate_year) }}%
            </td>

            <td data-label="%/เดือน">
                {{ "{:.2f}".format(item.rate_month) }}%
            </td>

            <td data-label="%/วัน">
                {{ "{:.2f}".format(item.rate_day) }}%
            </td>

            <td data-label="ดอก/วัน">
                {{ "{:,.2f}".format(item.daily_interest) }}
            </td>

            <td data-label="ดอกสะสม">
                {{ "{:,.2f}".format(item.interest) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
