{% extends "base.html" %}
{% block content %}

<h2>จัดการรายการเงินกู้</h2>

<div class="top-bar">
    <div></div>
    <a href="{{ url_for('main.new_loan') }}" class="btn-add">
        ➕ ยืมเพิ่ม
    </a>
</div>

<table class="table-modern">
    <tr>
        <th>ID</th>
        <th>วันที่กู้</th>
        <th>เริ่มคิดดอก</th>
        <th>เงินต้นคงค้าง</th>
        <th>%/ปี</th>
        <th>%/เดือน</th>
        <th>%/วัน</th>
        <th>ดอก/วัน</th>
        <th>ดอกสะสม</th>
        <th>จัดการ</th>
    </tr>

    {% for item in loans %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.loan_date }}</td>
        <td>{{ item.start_date }}</td>
        <td>{{ "{:,.2f}".format(item.principal) }}</td>
        <td>{{ "{:.2f}".format(item.rate_year) }}</td>
        <td>{{ "{:.4f}".format(item.rate_month) }}</td>
        <td>{{ "{:.6f}".format(item.rate_day) }}</td>
        <td>{{ "{:,.4f}".format(item.daily_interest) }}</td>
        <td>{{ "{:,.2f}".format(item.interest) }}</td>
<td class="actions">
    <a href="/loan/{{ item.id }}/edit" class="btn-pay">จ่าย</a>

    <form action="{{ url_for('main.delete_loan', loan_id=item.id) }}" method="POST">
        <button type="submit" class="btn-delete"
                onclick="return confirm('ยืนยันการลบรายการนี้?')">
            ลบ
        </button>
    </form>
</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
